.listitem-table {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0 20px;
    box-sizing: border-box;

    td, th {
        padding: 0;

        &:hover {
            background: #EEEEEE;
            cursor: pointer;
        }

        &.headline {
            padding: 10px 20px 10px 20px;
        }

        &.icon {
            padding: 10px;
        }

    }

}

.nodatawrapper {
    display: flex;
    justify-content: center;
    
    .nodatamodal {
        align-self: center;
    }
}

.b-item-open {
    background: #CCCCCC;
}

.b-item-edit {
    background: #63ceff;
}

.b-item-done {
    background: #a1ff63;
}

.b-item-delete {
    background: #ff6363;
}
