<div class="loadwrapper fadein" *ngIf="loading">
    <div class="loaditem">
        <img src="../assets/loader.svg" border="0" width="200" height="200" />
    </div>
</div>

<div class="createwindow-wrapper fadein" *ngIf="win['create']">
    <div class="contentwrapper">xxx</div>
</div>

<div class="editwindow-wrapper fadein" *ngIf="win['edit']">
    <div class="contentwrapper">xxx</div>
</div>

<div class="btn-create" (click)="ctrlWin('create', true)"><img src="../../../assets/plus.svg" /></div>

<div>
  todo-main works!
  {{loading}}
  <app-todo-listing
    (ontoggledone)="toggleDone($event)"
    (ondelete)="deleteItem($event)"
  ></app-todo-listing>
</div>
