<div class="loadwrapper fadein" *ngIf="loading">
    <div class="loaditem">
        <img src="../assets/loader.svg" border="0" width="200" height="200" />
    </div>
</div>

<app-modal-delete *ngIf="modal.delete"
    [payload_delete]="payload_delete"
    (ondelete)="deleteItem($event)"
    (onclose)="closeModalDelete()"
></app-modal-delete>

<app-win-view *ngIf="win.view" 
    [payload_view]="payload_view"
    (onclose)="closeWinView()"
></app-win-view>

<app-win-create *ngIf="win.create"
    (onsave)="saveItem($event)"
    (onclose)="closeWinCreate()"
></app-win-create>

<app-win-edit *ngIf="win.edit"
    [payload_edit]="payload_edit"
    (onupdate)="updateItem($event)"
    (onclose)="closeWinEdit()"
></app-win-edit>

<div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-20 b-left">
            <h1>MINIBRAIN</h1>
        </div>
    </div>
    <div class="row m-b-10">
        <div class="col-12 b-right p-20">{{currentDate}}</div>
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                    <app-todo-listing
                        (onviewwin)="openWinView($event)"
                        (oneditwin)="openWinEdit($event)"
                        (ontoggledone)="toggleDone($event)"
                        (ondelete)="openModalDelete($event)"
                    ></app-todo-listing>
            </div>
        </div>
</div>

</div>

<div class="btn-create" (click)="openWinCreate()"><img src="../../../assets/plus.svg" /></div>
